@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

/* .raleway{
    font-family: "Raleway", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.sora{
    font-family: "Sora", sans-serif;
} */

.SwiperDiv .swiper {
    overflow: hidden; /* Default behavior */
  }
  
  /* On mobile screens, ensure overflow is controlled properly */
  @media (max-width: 640px) {
    .swiper-wrapper
    {
      height: 180px;
    }
    .SwiperDiv .swiper {
      overflow: clip; /* Prevents unwanted overflow but doesn't affect layout */
      height: 200px;
    }
  }
  /* SwiperDiv.swiper {
  overflow: hidden !important;
}
@media (max-width: 640px) {
    .SwiperDiv .swiper {
        overflow: visible !important;
      }
    } */

@media (min-width: 1024px) {
  .lg-white-bg {
    background: white !important;
  }
}


