@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

/* .raleway{
    font-family: "Raleway", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.sora{
    font-family: "Sora", sans-serif;
} */

@media (min-width: 1024px) {
    .lg-white-bg {
      background: white !important;
    }
  }
  